# file extensions
**/*.pyc
**/*.h5
**/*.p
!test/test_data/*.p
*.swp
.coverage
.env

# folder
build/*
dist/*
neuralhydrology.egg-info/*
.vscode/*
.idea/*
runs/
configs/*
.ipynb_checkpoints/
data/*
docs/build/*
venv-nh/
camels_spat_scripts/experiment_scripts/runs/*
camels_spat_scripts/preprocessing_scripts/*.png
camels_spat_scripts/postprocessing_scripts/*.csv
camels_spat_scripts/postprocessing_scripts/*.png

